.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 40px;
}

.header {
  width: 100vw;
  text-align: center;
  padding: 15px;
  color: white;
  background-color: rgb(223, 132, 47);
  border-bottom: 10px solid rgb(182, 101, 34);
}

.rssContainer {
  width: 25%;
  margin: 15px;
}

.footer {
  border-top: 10px solid rgb(182, 101, 34);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: white;
  width: 100vw;
  background-color: rgb(223, 132, 47);
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .rssContainer {
    width: 100%;
    margin-left: 0;
  }
}
